﻿<div class="col-@Size mt-4">
    <Dropzone Items="DragList" Class="creature-area" TItem="Creature" OnItemDrop="e => UpdatedCard(e)" MaxItems="1">
        <div class="creature-item" style="background-image: url( @(Current != null ? Current.Path: "") )"></div>
    </Dropzone>
    <div class="battlegear"></div>
</div>

@code {
    public Creature Current => DragList.FirstOrDefault( );

    private List<Creature> DragList { get; set; }

    public Guid Id = Guid.NewGuid( );

    [Parameter]
    public string Battlegear { get; set; }

    [Parameter]
    public int Size { get; set; }

    [Parameter]
    public EventCallback<KeyValuePair<Guid, Creature>> CurrentChanged { get; set; }

    protected override async Task OnInitializedAsync( ) {
        DragList = new List<Creature>( );
        await base.OnInitializedAsync( );
    }

    public void UpdatedCard( Creature creature ) {
        CurrentChanged.InvokeAsync( new KeyValuePair<Guid, Creature>( Id, creature ) );
        StateHasChanged( );
    }

}

<style>
    .army-item {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .creature-area {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 3px solid black;
        background-color: gray;
        position: relative;
    }

        .creature-area .plk-dd-draggable {
            height: 100%;
            width: 100%;
        }

        .creature-area .creature-item {
            height: 100%;
            width: 100%;
            display: flex;
            background-size: 115% 200%;
            background-repeat: no-repeat;
            background-position: 40% 20%;
            border-radius: 6px;
        }

    .battlegear {
        width: 90%;
        height: 100%;
        border-radius: 10px;
        border: 3px solid darkgray;
        margin-top: -60%;
        margin-left: 5%;
        background-color: lightgray;
        z-index: -1;
    }
</style>