﻿<div class="army">
    <div class="row justify-content-md-center army-row">
        @{
            SetLineValues( );
            for ( int i = 0; i < CountSlots; i++ ) {
                <ArmyItem Size="12 / CalculateLine" CurrentChanged="kv => UpdateArmy( kv )" />
                if ( LineEnd.Any( ) && LineEnd.Peek( ) - 1 == i && i > 0 ) {
                    <div class="w-100" line="@LineEnd.Pop( )"></div>
                }
            }
        }
    </div>
</div>

@code {


    private Dictionary<Guid, Creature> CurrentArmy { get; set; } = new Dictionary<Guid, Creature>( );

    [Parameter]
    public int CountSlots { get; set; }

    [Parameter]
    public EventCallback<IEnumerable<Creature>> ArmyUpdated { get; set; }

    public IEnumerable<Creature> CreaturesInArmy => CurrentArmy.Values;

    private int CalculateLine { get; set; }
    private Stack<int> LineEnd { get; set; } = new Stack<int>( );

    protected override void OnInitialized( ) {
        base.OnInitialized( );
    }

    public void UpdateArmy( KeyValuePair<Guid, Creature> armyItem ) {
        CurrentArmy[ armyItem.Key ] = armyItem.Value;
        ArmyUpdated.InvokeAsync( CurrentArmy.Values );
    }

    private void SetLineValues( ) {
        var max = new List<int>( );
        var totalCards = 0;
        var lineSize = 1;
        while ( totalCards < CountSlots ) {
            totalCards += lineSize;
            max.Add( totalCards );
            lineSize++;
        }
        CalculateLine = lineSize;

        var stack = new Stack<int>( max.OrderBy( x => x ) );

        var currentItem = stack.Pop( );
        while ( stack.TryPeek( out var item ) ) {
            LineEnd.Push( ( currentItem - item ) + ( LineEnd.Any( ) ? LineEnd.Peek( ) : 0 ) );
            currentItem = stack.Pop( );
        }

        LineEnd = new Stack<int>( LineEnd.OrderByDescending( x => x ) );
    }

}

<style>
    .army-area {
        position: relative;
        width: 100%;
        height: 100%;
    }

        .army-area .army {
            width: 90%;
            height: 80%;
            border: 4px solid yellow;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            position: relative;
            margin-top: 10%;
            right: -2px;
            margin-left: 10%;
        }

            .army-area .army .army-row {
                width: 100%;
                height: 100%;
                padding-left: 7%;
                padding-right: 0px;
                padding-bottom: 10%;
            }
</style>