﻿@inject CreatureService _creatureService
@inject BattlegearService _battlegarService

<Loader IsLoading="@IsLoading" />
    <div class="collection">
        <div class="card-selector">
            @switch ( CurrentSelector ) {
                case CardType.Creature:
                    <CollectionDisplay @ref="creatureCollectionDisplayRef" TCard="Creature"/>
                    break;
                case CardType.Battlegear:
                    <CollectionDisplay @ref="battleagerCollectionDisplayRef" TCard="Battlegear"/>
                    break;
                case CardType.Mugic:
                    <CollectionDisplay TCard="Mugic"/>
                    break;
                case CardType.Attack:
                    <CollectionDisplay TCard="Attack"/>
                    break;
                case CardType.Location:
                    <CollectionDisplay TCard="Location"/>
                    break;
            }
            @*<div class="side left">
                <div class="visualizer">
                    <div class="actual">
                        @switch ( CurrentSelector ) {
                            case 0: {
                                <EnergyBar Value="(CurrentCreature != null ? CurrentCreature.Energy : 0)" />
                                <Dropzone Items="CreatureDragList" TItem="Creature" Class="image-area" OnItemDrop="@(e => UpdateAvailable( e ))">
                                    <div class="creature-available-item" style="background-image: url( @(CurrentCreature != null ? CurrentCreature.Path: "") )"></div>
                                </Dropzone>
                                break;
                            }
                            case 1: {
                                <EnergyBar Value="0" />
                                <Dropzone Items="BattlegearDragList" TItem="Battlegear" Class="image-area">
                                    <div class="creature-available-item" style="background-image: url( @(CurrentBattlegear != null ? CurrentBattlegear.Path: "") )"></div>
                                </Dropzone>
                                break;
                            }
                        }
                    </div>
                    <div class="details">
                        <TribeIcon Tribe="CurrentCreature.Tribe" />
                        <div class="code"></div>
                    </div>
                </div>
                <div class="selector-area">
                    @switch ( CurrentSelector ) {
                        case 0: {
                            <CollectionSelector @ref="collectionSelectorRef" Collection="CreaturesAvailable" CurrentChanged="@(e => UpdateCurrent(e))" T="Creature"/>
                            break;
                        }
                        case 1: {
                            <CollectionSelector @ref="collectionSelectorRef1" Collection="BattlegearsAvailable"  CurrentChanged="@(e => UpdateCurrent1(e))" T="Battlegear"/>
                            break;
                        }
                    }
                </div>
            </div>*@
            <div class="side right">
                <div class="army-area">
                    <Army @ref="armyRef" CountSlots="3" ArmyUpdated="e => UpdateArmy(e)" />
                    <div class="mugics">
                        <MugicIcon Tribe="Tribe.OverWorld" />
                    </div>
                </div>
            </div>
        </div>
        <div class="scrollers-area">
            <Selector Color="green" OnNext="() => ChangeCurrentSelector(CardType.Creature)"></Selector>
            <Selector Color="#660066" OnNext="() => ChangeCurrentSelector(CardType.Battlegear)"></Selector>
            <Selector Color="gray"></Selector>
            <Selector Color="blue"></Selector>
        </div>
    </div>

@code{

    CollectionDisplay<Creature> creatureCollectionDisplayRef;
    CollectionDisplay<Battlegear> battleagerCollectionDisplayRef;
    Army armyRef;

    private bool IsLoading { get; set; }
    private CardType CurrentSelector { get; set; } = CardType.Creature;

    protected override async Task OnInitializedAsync( ) {
        IsLoading = true;
        await base.OnInitializedAsync( );
        IsLoading = false;
    }

    public void UpdateArmy( IEnumerable<Creature> army ) {
        creatureCollectionDisplayRef.UpdateCollection( army );
    }

    public void ChangeCurrentSelector( CardType type ) {
        CurrentSelector = type;
        if ( type == CardType.Creature )
            creatureCollectionDisplayRef.UpdateCollection( armyRef.CreaturesInArmy );
    }
}

<style>
    .card-selector {
        width: 1000px;
        height: 500px;
        display: flex;
        border: 2px solid black;
        border-radius: 10px;
    }

    .side {
        display: flex;
        width: 50%;
    }

        .right .army-area .mugics {
            width: 10%;
            height: 53%;
            position: absolute;
            border: 4px solid yellow;
            border-radius: 15px;
            left: 6%;
            top: 25%;
            background-color: white;
        }

    .scrollers-area {
        width: 20%;
        height: 15%;
        right: 25%;
        margin-top: -2px;
        position: absolute;
        display: flex;
        border: 2px solid black;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }


</style>