﻿<div class="selector">
    <div @onclick="Back" class="left-front"></div>
    <div @onclick="Back" class="left-back"></div>
    <div class="center-front"></div>
    <div class="center-back"></div>
    <div @onclick="Next" class="right-front"></div>
    <div @onclick="Next" class="right-back"></div>
</div>

@typeparam T

@code {
    [Parameter]
    public IEnumerable<T> Collection { get; set; } = new List<T>( );

    [Parameter]
    public EventCallback<T> CurrentChanged { get; set; }

    private int Index = 0;

    public void Back( ) {
        if ( Index - 1 < 0 )
            Index = Collection.Count() - 1;
        else
            Index--;

        var current = Collection.ToArray( )[ Index ];
        CurrentChanged.InvokeAsync( current );
        StateHasChanged( );
    }

    public void Next( ) {
        if ( Index + 1 == Collection.Count( ) )
            Index = 0;
        else
            Index++;

        var current = Collection.ToArray( )[ Index ];
        CurrentChanged.InvokeAsync( current );
        StateHasChanged( );
    }

    public void SetPosition(T card ) {
        if ( !Collection.Contains( card ) ) {
            var collection = Collection.ToList( );
            collection.Add( card );
            Collection = collection.OrderBy( x => ( x as Card ).Name ).ToList();
        }
        Index = Collection.ToList( ).IndexOf( card );
        var current = Collection.ToArray( )[ Index ];
        CurrentChanged.InvokeAsync( current );
        StateHasChanged( );
    }
}

<style>
    .selector {
        width: fit-content;
        display: flex;
        position: relative;
        margin: auto;
        padding: 15px;
    }

        .selector .left-front {
            width: 38px;
            height: 50px;
            background-color: gray;
            border-radius: 5px;
            transform: skewY(-20deg);
            margin-top: 5px;
            z-index: 2;
        }

        .selector .left-back {
            width: 38px;
            height: 50px;
            background-color: black;
            border-radius: 5px;
            transform: skewY(20deg);
            margin-top: 15px;
            margin-left: -33px;
            z-index: 1;
        }

        .selector .center-front {
            width: 50px;
            height: 50px;
            background-color: gray;
            border-radius: 5px;
            margin-right: 5px;
            margin-left: 5px;
            z-index: 2;
        }

        .selector .center-back {
            width: 48px;
            height: 50px;
            background-color: black;
            border-radius: 5px;
            margin-right: 10px;
            margin-left: -54px;
            margin-top: 21px;
            z-index: 1;
        }

        .selector .right-front {
            width: 38px;
            height: 50px;
            background-color: gray;
            border-radius: 5px;
            transform: skewY(20deg);
            margin-top: 5px;
            z-index: 2;
        }

        .selector .right-back {
            width: 38px;
            height: 50px;
            background-color: black;
            border-radius: 5px;
            transform: skewY(-20deg);
            margin-top: 15px;
            margin-left: -42px;
            z-index: 1;
        }
</style>