﻿@inject CreatureService _creatureService
@inject BattlegearService _battlegearService
@inject MugicService _mugicService
@inject AttackService _attackService
@inject LocationService _locationService

@if ( CurrentCard != null ) {
    <div class="side left">
        <div class="visualizer">
            <div class="actual">
                <EnergyBar Value="( CurrentCard != null && CurrentCard is Creature ? ( CurrentCard as Creature ).Energy : 0 )" />
                <Dropzone Items="CardsDragList" TItem="TCard" Class="image-area" OnItemDrop="@(e => UpdateAvailable( e ))">
                    <div class="creature-available-item" style="background-image: url( @(CurrentCard != null ? ( CurrentCard as Card ).Path : "") )"></div>
                </Dropzone>
            </div>
            <div class="details">
                <TribeIcon Tribe="( ( CurrentCard is Creature ? ( CurrentCard as Creature ).Tribe : ( CurrentCard is Mugic ? ( CurrentCard as Mugic ).Tribe : Tribe.Generic ) ) )" />
                <div class="code"></div>
            </div>
        </div>
        <div class="selector-area">
            <CollectionSelector @ref="collectionSelectorRef" Collection="CardsAvailable" CurrentChanged="@(e => UpdateCurrent( e ))" T="TCard" />
        </div>
    </div>
}

@typeparam TCard

@code {

    private CollectionSelector<TCard> collectionSelectorRef;

    private IEnumerable<TCard> Cards { get; set; } = new List<TCard>( );
    private IEnumerable<TCard> CardsAvailable { get; set; } = new List<TCard>( );
    private List<TCard> CardsDragList { get; set; } = new List<TCard>( );
    private TCard CurrentCard => CardsDragList.FirstOrDefault( );

    protected override async Task OnInitializedAsync( ) {
        if ( typeof( TCard ) == typeof( Creature ) ) {
            List<Creature> creatures = ( await _creatureService.GetAsync( ) ).OrderBy( x => ( x as Card ).Name ).ToList( );
            Cards = CardsAvailable = ( creatures as List<TCard> );
        } else if ( typeof( TCard ) == typeof( Battlegear ) ) {
            List<Battlegear> battlegears = ( await _battlegearService.GetAsync( ) ).OrderBy( x => ( x as Card ).Name ).ToList( );
            Cards = CardsAvailable = ( battlegears as List<TCard> );
        } else if ( typeof( TCard ) == typeof( Mugic ) ) {
            List<Mugic> mugics = ( await _mugicService.GetAsync( ) ).OrderBy( x => ( x as Card ).Name ).ToList( );
            Cards = CardsAvailable = ( mugics as List<TCard> );
        } else if ( typeof( TCard ) == typeof( Attack ) ) {
            List<Attack> attacks = ( await _attackService.GetAsync( ) ).OrderBy( x => ( x as Card ).Name ).ToList( );
            Cards = CardsAvailable = ( attacks as List<TCard> );
        } else if ( typeof( TCard ) == typeof( Location ) ) {
            List<Location> locations = ( await _locationService.GetAsync( ) ).OrderBy( x => ( x as Card ).Name ).ToList( );
            Cards = CardsAvailable = ( locations as List<TCard> );
        }

        CardsDragList = new List<TCard> { CardsAvailable.FirstOrDefault( ) };

        await base.OnInitializedAsync( );
    }

    public void UpdateCurrent( TCard card ) {
        CardsDragList.Clear( );
        CardsDragList.Add( card );
    }

    public void UpdateAvailable( TCard card ) {
        var cards = CardsAvailable.ToList( );
        cards.Add( card );
        CardsAvailable = cards;

        collectionSelectorRef.SetPosition( card );
    }

    public void UpdateCollection( IEnumerable<TCard> cards ) {
        CardsAvailable = Cards.Except( cards ).ToList( );
        UpdateCurrent( CardsAvailable.FirstOrDefault( ) );
        
        collectionSelectorRef.Next( );
    }

}

<style>
    .left {
        border-right: 2px solid black;
        position: relative;
    }

        .left .visualizer {
            width: 100%;
            height: 80%;
            padding: 20px;
            position: relative;
        }

            .left .visualizer .actual {
                width: 100%;
                height: 85%;
                display: flex;
            }

    .image-area {
        border-radius: 15px;
        height: 100%;
        width: 70%;
        margin-left: 10px;
    }

    .left .visualizer .actual .plk-dd-draggable {
        height: 100%;
        width: 100%;
    }


    .left .visualizer .actual .creature-available-item {
        border: 2px solid black;
        border-radius: 15px;
        height: 100%;
        width: 100%;
        display: flex;
        background-color: gray;
        background-size: 115% 200%;
        background-repeat: no-repeat;
        background-position: 40% 20%;
    }

    .left .visualizer .details {
        position: absolute;
        bottom: 0;
        height: 15%;
        width: 100%;
        padding-bottom: 5px;
        display: flex;
        margin-left: 9%;
    }

        .left .visualizer .details .code {
            width: 65%;
            height: 50%;
            background-color: black;
            margin-left: 10px;
            margin-top: 15px;
            border-radius: 15px;
        }

    .selector-area {
        border-top: 2px solid black;
        height: 20%;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
</style>