﻿<div class="energy">
    <div class="energy-value">@Value</div>
    <div class="energy-restant"></div>
    <div class="energy-current"></div>
</div>

@code {
    [Parameter]
    public int Value { get; set; }
}

<style>
    .energy {
        width: 10%;
        height: 100%;
        border-radius: 12px;
        margin-left: 10%;
        position: relative;
    }

        .energy .energy-value {
            position: absolute;
            width: 100%;
            bottom: 50%;
            z-index: 1;
            left: 30%;
        }

        .energy .energy-restant {
            position: relative;
            height: @(100 - Value)%;
            width: 100%;
            border: 1px solid black;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

        .energy .energy-current {
            width: 100%;
            height: @(Value)%;
            background-color: darkgrey;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            position: relative;
        }
</style>