﻿<div class="mugic">
    <svg width="100%" height="100%" viewBox="-20 -20 400 400">
        <polygon points="180,0 37,72 0,232 98,360 262,360 360,232 323,72" style="fill: none;"></polygon>
        <polygon points="180,0 37,72 0,232 98,360 262,360 360,232 323,72" style="fill: none; stroke: @Color; stroke-width: 40;"></polygon>
    </svg>
</div>

@code {
    [Parameter]
    public Tribe Tribe { get; set; }

    private string Color {
        get {
            switch ( Tribe ) {
                case Tribe.OverWorld: return "blue";
                case Tribe.UnderWorld: return "red";
                case Tribe.Mipedian: return "yellow";
                case Tribe.Danian: return "brown";
                case Tribe.Marrillian: return "darkblue";
                case Tribe.Generic:
                default: return "white";
            }
        }
    }
}

<style>
    .mugic {
        padding: 4px;
    }
</style>
