﻿<div class="scrollers">
    <div @onclick="OnBack" class="left-front" style="background-color: @Color"></div>
    <div @onclick="OnBack" class="left-back"></div>
    <div class="center-front" style="background-color:@Color"></div>
    <div class="center-back"></div>
    <div @onclick="OnNext" class="right-front" style="background-color:@Color"></div>
    <div @onclick="OnNext" class="right-back"></div>
</div>

@code {

    [Parameter]
    public EventCallback OnBack { get; set; }

    [Parameter]
    public EventCallback OnNext { get; set; }

    [Parameter]
    public string Color { get; set; } = "gray";
}

<style>
    .scrollers {
        width: fit-content;
        display: flex;
        position: relative;
        transform: rotate(-90deg);
    }

        .scrollers:first-child {
            margin-left: 25px;
        }

        .scrollers .left-front {
            width: 20px;
            height: 40px;
            border-radius: 5px;
            transform: skewY(-20deg);
            margin-top: 5px;
            z-index: 2;
        }

        .scrollers .left-back {
            width: 20px;
            height: 40px;
            background-color: black;
            border-radius: 5px;
            transform: skewY(20deg);
            margin-top: 15px;
            margin-left: -20px;
            z-index: 1;
        }

        .scrollers .center-front {
            width: 30px;
            height: 40px;
            border-radius: 5px;
            margin-right: 5px;
            margin-left: 5px;
            z-index: 2;
        }

        .scrollers .center-back {
            width: 27px;
            height: 40px;
            background-color: black;
            border-radius: 5px;
            margin-right: 5px;
            margin-left: -33px;
            margin-top: 15px;
            z-index: 1;
        }

        .scrollers .right-front {
            width: 20px;
            height: 40px;
            border-radius: 5px;
            transform: skewY(20deg);
            margin-top: 5px;
            z-index: 2;
        }

        .scrollers .right-back {
            width: 20px;
            height: 40px;
            background-color: black;
            border-radius: 5px;
            transform: skewY(-20deg);
            margin-top: 15px;
            margin-left: -20px;
            z-index: 1;
        }
</style>