﻿<div class="tribe" style="background-image:url(@Path)"></div>

@code {
    [Parameter]
    public Tribe Tribe { get; set; }

    private string Path {
        get {
            switch ( Tribe ) {
                case Tribe.OverWorld: return "/tribes/overworld.png";
                case Tribe.UnderWorld: return "/tribes/underworld.png";
                case Tribe.Mipedian: return "/tribes/mipedians.png";
                case Tribe.Danian: return "/tribes/danians.png";
                case Tribe.Marrillian: return "/tribes/marrillians.png";
                case Tribe.Generic:
                default: return "/tribes/tribeless.png";
            }
        }
    }
}

<style>
    .left .visualizer .details .tribe {
        width: 10%;
        height: 100%;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>